<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <div
      class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
    >
      <h3 class="my-0 mr-md-auto font-weight-normal">백신GO</h3>
      <%- include('nav.html') %>
      <a href="/logout">
        <button class="btn btn-outline-primary" type="button">로그아웃</button>
      </a>
    </div>
    <title>마이페이지</title>
    <link rel="stylesheet" href="/public/css/css.css" />
  </head>
  </head>
  <body>
    <p> <%= 사용자.아이디 %>의 마이페이지 입니다.</p>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">글 번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">날짜</th>
          </tr>
        </thead>
        <% for (var i = 0; i < user.length; i ++) { %>
        <tbody>
          <tr>
            <th scope="col"><%= user[i]._id %></th>
            <th scope="col">
              <a href="/board/detail/<%= user[i]._id %>"><%= user[i].제목 %></a>
            </th>
            <th scope="col"><%= user[i].작성자 %></th>
            <th scope="col"><%= user[i].날짜 %>
                <button class="btn btn-danger delete"
                data-id="/board/<%= user[i]._id %>">글 삭제</button>
            </th>
          </tr>
        </tbody>
        <% } %>
      </table>
  
  

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    ></script>
      <script>
        $('.delete').click(function (e) {
          $.ajax({
            method: "DELETE",
            url: '/delete',
            data: { _id: e.target.dataset.id},
          })
          .done((result) => {
            $(this).parent('tr').fadeOut()
          })
        })
      </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>
